* {
  box-sizing: border-box;
}

.ui-block-sketch {
  position: relative;
  overflow: hidden;
  user-select: none;
  width: 100%;
  height: 100%;
  cursor: default;
}

.ui-block-sketch-stage {
  position: absolute;
}

.ui-block-sketch-stage-node {
  position: absolute;
}

.ui-block-sketch-stage-node.area {
  > .border {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid fade-out(#000, 0.9);
    box-shadow: 0 1px 2px fade-out(#000, 0.9);
  }
}

//

.ui-block-sketch-hovers {
  z-index: 10001;
}

.ui-block-sketch-hovers-hover {
  position: absolute;
  border: 2px solid #60befd;
  &.hidden {
    display: none;
  }
}

//

.ui-block-sketch-selections-selection {
  position: absolute;
  z-index: 10002;
  border: 1px solid fade-out(#000, 0.3);
  > .marker {
    position: absolute;
    border: 1px solid fade-out(#000, 0.3);
    background: fade-out(#fff, 0.2);
    box-shadow: 0 1px 2px fade-out(#000, 0.7);
    width: 10px;
    height: 10px;
    &.disabled {
      opacity: 0.2;
    }
  }
  > .top {
    top: -5px;
  }
  > .bottom {
    bottom: -5px;
  }
  > .left {
    left: -5px;
  }
  > .right {
    right: -5px;
  }
  > .top,
  > .bottom {
    &.middle {
      left: 50%;
      transform: translateX(-5px);
    }
  }
  > .left,
  > .right {
    &.middle {
      top: 50%;
      transform: translateY(-5px);
    }
  }
}
