<div class="content">
  <div class="mark top left"></div>
  <div class="mark top right"></div>
  <div class="mark bottom left"></div>
  <div class="mark bottom right"></div>
  <div class="stroke"></div>
</div>