.ui-block-sketch-stage-node-area-accessories-crop-marks {
  $size: 10px;
  $width: 1px;
  $o: 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  > .overlay {
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0px solid #fff;
  }
  > .inset {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    > .content {
      position: absolute;
      top: -$size;
      left: -$size;
      bottom: -$size;
      right: -$size;
      > .mark {
        position: absolute;
        width: $size;
        height: $size;
        &:before,
        &:after {
          content: '';
          position: absolute;
          background: fade-out(#000, 0.7);
          transition: background-color 0.2s ease-in-out;
        }
        &:before {
          width: $width;
          height: 100%;
        }
        &:after {
          width: 100%;
          height: $width;
        }
      }

      > .top {
        top: 0;
        &:before {
          top: -$o;
        }
        &:after {
          bottom: 0;
        }
      }

      > .bottom {
        bottom: 0;
        &:before {
          top: $o;
        }
        &:after {
          top: 0;
        }
      }

      > .left {
        left: 0;
        &:before {
          right: 0;
        }
        &:after {
          right: $o;
        }
      }

      > .right {
        right: 0;
        &:before {
          left: 0;
        }
        &:after {
          left: $o;
        }
      }
    }
  }
  &.highlighted {
    > .inset {
      > .content {
        > .mark {
          &:before,
          &:after {
            background: $color-hover;
          }
        }
      }
    }
  }
}
