{{ui-block/sketch stage=stage class="sketch" size=size ready=(action "ready")}}

<div class="info">
  <div class="row">
    <div class="label">Size:</div>
    <div class="value">
      {{#let stage.node.renderer.size as |size|}}
        {{size.width}}×{{size.height}}
      {{/let}}
    </div>
  </div>
</div>

<div class="border" style={{borderStyle}}></div>