{{#if model.cropMarks}}
  {{ui-block/sketch/stage/node/accessories/crop-marks inset=model.cropMarksInset highlighted=model.node.isHovered class="crop-marks"}}
{{/if}}
<div class="nodes">{{ui-block/sketch/stage/nodes model=model}}</div>