{{#if isEditing}}
  {{content-editable value=editable autofocus=true class="text"}}
  <div class="editing"></div>
{{else}}
  <div class="text">{{text}}</div>
{{/if}}
{{#if isLoading}}
  <div class="overlay">
    <div class="label">Loading font…</div>
  </div>
{{/if}}
{{ui-block/sketch/stage/deferred promise=loader.promise}}
