{{ui-block/sketch/stage stage=stage class="sketch" ready=(action "ready")}}

<div class="info">
  <div class="row">
    <div class="label">Size:</div>
    <div class="value">
      {{#let stage.node.renderer.size as |size|}}
        {{size.width}}px × {{size.height}}px
      {{/let}}
    </div>
  </div>
</div>