.ui-route-experiments-editor {
  flex: 1;
  display: flex;
  flex-direction: row;
  > .sketch {
    flex: 1;
  }
  > .info {
    border-left: 1px solid fade-out(#000, 0.8);
    box-shadow: -1px 0 1px fade-out(#000, 0.95);
    width: 300px;
    padding: 25px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 12px;
    > .block {
      margin-bottom: 10px;
      > .title {
        font-weight: 600;
      }
    }
  }
}
