.ui-block-sketch-stage-node {
  position: absolute;
  > .info {
    z-index: 1;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    background: fade-out(#fff, 0.5);
  }
}

@import "node/implementation";
