.ui-block-sketch-stage-hovers {
  z-index: 10001;
}

.ui-block-sketch-stage-hovers-hover {
  position: absolute;
  border: 1px solid $color-hover;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  &.show {
    opacity: 1;
  }
}
