.ui-block-sketch-hovers {
  z-index: 10001;
}

.ui-block-sketch-hovers-hover {
  position: absolute;
  border: 1px solid #60befd;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &.show {
    opacity: 1;
  }
}
