.ui-block-sketch-stage-selections-selection {
  position: absolute;
  z-index: 10002;
  border: 1px solid fade-out(#000, 0.3);
  > .marker {
    position: absolute;
    border: 1px solid fade-out(#000, 0.5);
    background: fade-out(#fff, 0.2);
    box-shadow: 0 1px 2px fade-out(#000, 0.7);
    width: 10px;
    height: 10px;
    transition:
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
    &.over {
      border: 1px solid fade-out(#000, 0.4);
      background: fade-out(#ddd, 0.2);
    }
    &.disabled {
      opacity: 0.2;
    }
  }
  > .top {
    top: -5px;
  }
  > .bottom {
    bottom: -5px;
  }
  > .left {
    left: -5px;
  }
  > .right {
    right: -5px;
  }
  > .top,
  > .bottom {
    &.middle {
      left: 50%;
      transform: translateX(-5px);
    }
  }
  > .left,
  > .right {
    &.middle {
      top: 50%;
      transform: translateY(-5px);
    }
  }
}
