.ui-block-sketch-stage-selections-selection {
  position: absolute;
  z-index: 10002;
  border: 1px solid fade-out(#000, 0.3);
  > .edit {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-family;
    background: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
  }
  > .marker {
    position: absolute;
    border: 1px solid fade-out(#000, 0.5);
    background: fade-out(#fff, 0.2);
    box-shadow: 0 1px 2px fade-out(#000, 0.7);
    $s: 11px;
    width: $s;
    height: $s;
    transition:
      border-color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
    &.over {
      border: 1px solid fade-out(#000, 0.4);
      background: fade-out(#ddd, 0.2);
    }
    &.disabled {
      opacity: 0.2;
    }
    &:before {
      content: '';
      position: absolute;
      $o: -3px;
      top: $o;
      left: $o;
      bottom: $o;
      right: $o;
    }
  }
  > .top {
    top: -6px;
  }
  > .bottom {
    bottom: -6px;
  }
  > .left {
    left: -6px;
  }
  > .right {
    right: -6px;
  }
  > .top,
  > .bottom {
    &.middle {
      left: 50%;
      transform: translateX(-5px);
    }
  }
  > .left,
  > .right {
    &.middle {
      top: 50%;
      transform: translateY(-6px);
    }
  }
}
