.ui-block-sketch-stage {
  position: absolute;
}

.ui-block-sketch-stage-node {
  position: absolute;
}

.ui-block-sketch-stage-node.area {
  > .nodes {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  > .crop-marks {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.ui-block-sketch-frame {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ddd;
  > .info {
    font-size: 11px;
    position: absolute;
    left: 0;
    left: -1px;
    top: -11px;
  }
}
